:root {
  --backgroundcolor: white;
  --textcolor: rgb(59, 59, 59);
  --linkcolor: rgb(207, 4, 4);
  --footercolor: rgb(36, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: var(--backgroundcolor);
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: var(--textcolor);
}

p {
  margin: 1em 0;
  line-height: 1.3em;
}
/* Background image for each pages */
.about-bg {
  background: radial-gradient(#000c 75%, #000d),
    url("./img/cover.jpg") 50% / cover #0000;
}

.art-bg {
  background: radial-gradient(#000c 75%, #000d),
    url("./art/img/cover.png") 50% / cover #0000;
}

.coding-bg {
  background: radial-gradient(#000c 75%, #000d),
    url("./coding/img/cover.png") 50% / cover #0000;
}

header {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 40%;
}

header span, a{
  color: #fff;
}

body > * {
  padding: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.homelink a,
.navlinks a {
  text-decoration: none;
}

.homelink a {
  font-weight: 700;
}

.navlinks {
  display: flex;
}

.divider {
  padding: 0 10px 0 10px;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.signature h1 {
  color: #fff;
  font-size: 120px;
  transition: opacity 1s ease-in;
  animation: h1title 3s ease;
  animation-fill-mode: forwards;
}

main,
footer {
  display: block;
  margin: 0 0 0 40%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 0.7;
  margin: 1rem 0 1rem 0;
  font-weight: 900;
}
.link, #active {
  color: var(--linkcolor);
}

h1 {
  font-size: 3em;
}

footer {
  display: flex;
  justify-content: space-between;
}

.contact {
  display: flex;
}

/* IMPORTANT KEEP */
.signature svg {
  width: 300px;
  height: 280px;
}
.signature svg path {
  transform: translate(10px, 10px);
}
#cls-1 {
  stroke: #fff;
  stroke-width: 20px;
  stroke-dasharray: 1063;
  stroke-dashoffset: 1063;
  opacity: 0;
  transition: opacity 1s ease-in;
  animation: vietbui 5s ease;
  animation-fill-mode: forwards;
}

@keyframes vietbui {
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes h1title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End of IMPORTANT */

@media (max-width: 60em) {
  body > * {
    width: 100%;
  }

  header {
    min-height: 60vh;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  main,
  footer {
    margin: 0;
  }
}
